@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components { 
    .container   {
        max-width: 1440px;
        margin-inline: auto;
        padding:2.25rem;
    }
    @media screen and (max-width:768px){
        .container {
            padding: 1.25rem;
        }
    }
    .shadow-gradient[data-shadow="false"]::before{
        content: "";
    }
    .shadow-gradient[data-shadow="true"]::before {
        content: "";
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(97, 97, 97,0.1) 30%, rgba(0,0,0,0.55) 75%);
        position: absolute;
        height: 100vh;
        width: 100vw;
        position: fixed;
    }
    .button {
        display: flex;
        align-self: center;
        border-radius: 2em;
        /* padding: 0.65em; */
        padding-top: clamp(0.75em,1vw,1.5em );
        padding-right:clamp(0.65em,2vw,4em) ;
        padding-bottom:clamp(0.75em,1vw,1.5em) ;
        padding-left:clamp(0.65em,2vw,4em);
        background-color:hsl(12, 88%, 59%); 
        color:white;
        box-shadow: 0rem 1rem 2.4rem -1.3rem hsl(12, 88%, 59%);
        /* box-shadow: 0rem 0.7rem 1.5rem -1.3rem hsl(0, 0%, 0%); */
    }
    .button:hover {
        opacity: 0.5; 
    }
    .nav-text-clamp {
        font-size: clamp(0.85rem, 1.4vw, 1rem); 
    }
}